<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 

  <!-- properties file configuation -->
   <context:property-placeholder location="com/nt/commons/myfile.properties"/>
   
   <!-- collect dependent bean id from the properties file and provide alias name for it -->
   <alias   name="${courier.id}"  alias="shipper"/>
   
        
 </beans>